.home {
    padding: 40px;
}

.home-title {
    margin: 0 0px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
}

.home-subtitle {
    margin-top: 0;
    color: #fff;
    font-weight: 100;
}